{% extends "base.html" %}
{% from "macros/_form_helpers.html" import render_field %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>{{ legend if legend else ('Add New Deposit' if not deposit else 'Edit Deposit: ' + deposit.name) }}</h2>
            <hr>
            <form method="POST" action="">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ render_field(form.name, class="form-control " + ("is-invalid" if form.name.errors else ""), placeholder="e.g., Main Warehouse, Shop Floor") }}
                </div>

                <div class="form-group mt-4">
                    {% if deposit %}
                        {{ form.submit(class="btn btn-primary", value="Update Deposit") }}
                    {% else %}
                        {{ form.submit(class="btn btn-primary", value="Add Deposit") }}
                    {% endif %}
                    <a href="{{ url_for('deposits.list_deposits') }}" class="btn btn-outline-secondary ml-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
